In [0]:
import pandas as pd
import io

In [8]:
from google.colab import files
uploaded = files.upload()

Saving titanic_processed.csv to titanic_processed (1).csv

In [10]:
titanic_df = pd.read_csv(io.BytesIO(uploaded['titanic_processed.csv']))
titanic_df.head()

   Survived  Pclass   Age  SibSp  ...  Embarked_Q  Embarked_S  Sex_0  Sex_1
0         1       1  36.0      0  ...           0           1      1      0
1         1       1  42.0      0  ...           0           0      1      0
2         0       3  45.0      1  ...           0           1      1      0
3         0       1  39.0      0  ...           0           1      0      1
4         0       2  18.0      0  ...           0           1      0      1

[5 rows x 11 columns]

In [0]:
from sklearn.model_selection import train_test_split
X = titanic_df.drop('Survived', axis=1)
Y = titanic_df['Survived']
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [13]:
x_train.shape, y_train.shape

((569, 10), (569,))

In [14]:
x_test.shape, y_test.shape

((143, 10), (143,))

In [0]:
from sklearn.linear_model import LogisticRegression
logistic_model = LogisticRegression(penalty='l2', C=1.0, solver='liblinear').fit(x_train, y_train)

In [0]:
y_pred = logistic_model.predict(x_test)

In [0]:
pred_results = pd.DataFrame({'y_test': y_test,
                             'y_pred': y_pred})

In [20]:
pred_results.head()

     y_test  y_pred
72        0       1
678       1       1
56        0       0
408       1       1
6         0       0

In [21]:
titanic_crosstab = pd.crosstab(pred_results.y_pred, pred_results.y_test)
titanic_crosstab

y_test   0   1
y_pred
0       67  18
1       13  45

In [0]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

In [0]:
acc = accuracy_score(y_test, y_pred)
prec = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)

In [24]:
print("accuracy_score: ", acc)
print("precision_score: ", prec)
print("recall_score: ", recall)

accuracy_score:  0.7832167832167832
precision_score:  0.7758620689655172
recall_score:  0.7142857142857143